* {
    margin: 0px;
    padding: 0px;
}

.barra {
    top: 0;
    position: fixed;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100vw;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    flex-grow: 0;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}

.pelicula {
    
    margin-top: 10%;
    margin-left: 5%;
    width: 17%;
    height: 18%;
    border: 2px solid red;
    display: flex;
    background-size: cover;
    /*background-image: url(http://www.ucaldas.edu.co/images/tmp/Javier_Aguirre_Ramos.jpg);*/

}
.pelicula div{

    background:red;
    align-self: auto;
    display:flex;
    margin-left: 0;
    width: 100%;
    height:10%;
    text-align: center;
    
    margin-top: -2%;
}



.contenido {
    
    
    flex-grow: 1;
    margin-left: -100px;
    flex-basis: baseline;
    background: lightcyan;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    justify-content: center;

}

.nav-a {

    margin-left: 40px;
    height: 10px;
    color: white;
    text-decoration: none;
}

.nav-a:hover {
    text-decoration: underline
}

.logo {
    width: 80px;
    height: auto;
    margin-left: 20px;
}

.barraC{
    font-family: 'Roboto', sans-serif;
    width: 50%;
    
    box-sizing: border-box;
    color:white;
    display: block;
    font-size: 14px;
   
    margin-top: 10%;
    margin-right: 70%;
    margin-left: 33%;
    background: linear-gradient(90deg, rgba(102,0,9,1) 0%, rgba(254,99,99,1) 22%, rgba(255,0,0,1) 100%);
    flex: none;
    background-color: lightcyan;
}

.tituloC{
   
    box-sizing: border-box;
    color:white;
    display: block;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10%;
    margin-right: 47%;
    background: linear-gradient(90deg, rgba(102,0,9,1) 0%, rgba(254,99,99,1) 22%, rgba(255,0,0,1) 100%);
    flex: none;
    background-color: lightcyan;

}

footer{
    
    text-align: center;
    position: relative;
}



.pie div{
  
    width: 100%;
    height: 50%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.pie{

    color:white;
    font-size: 10px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

.ver{
   width: 100%; 
}
.ver span{
    background-color:red;
    color: white;
    width: 100%;
    height: 5px;
    margin-top: 3%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}

.banner figure{
    border: none;

    width: 100%;
    height: 100%;
    margin-bottom: none;
}

.banner figure img {
    width: 100vw;
}

